/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
}

/* Navbar */
.Header {
    background-color: #ffffff;
}
/* 네비게이션 공통 스타일 */
.nav {
    display: flex;
    justify-content: space-between; /* 로고와 메뉴 간격 조정 */
    align-items: center;
    padding: 0 55px;
    background-color: #ffffff;
}

.nav .logo{
    width: 65px;
    height: 65px;
    cursor: pointer;
    color: black;
}

.nav-bar{
    max-width: 700px;
    display: flex;
    align-items: center;
}

.nav-bar a:hover {
    color: #000000; /* 호버 시 색상 변경 */
}

.nav-bar li{
    margin: 20px 40px 0 40px;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-bar li a{
    color: #666666;
	text-decoration: none;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.nav-right .search-button{
    margin-right: 10px;
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.nav-right .search-button p {
    margin: 0;
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
}

.nav-right .search-button i{
    margin-left: 10px;
    font-size: 14px;
    color: black;
}

.nav-bar .login-button{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.nav-right .login-button p {
    margin: 0;
    font-size: 14px;
    color: #666666;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-right .login-button p:hover{
    color: #000000;
}

.nav-right .login-button i{
    color: #000000;
}


/* 햄버거 버튼 */
.hamburger {
    display: none; /* 기본적으로 숨김 */
    flex-direction: column;
    justify-content: space-between;
    width: 30px; /* 버튼 크기 */
    height: 25px;
    background: none; /* 배경색 없음 */
    border: none; /* 테두리 없음 */
    cursor: pointer;
    margin-left :30px;
}

/* 햄버거 바 스타일 */
.hamburger .bar {
    width: 100%; /* 바 길이 */
    height: 4px; /* 바 두께 */
    background-color: #6d6d6d; /* 바 색상 */
    border-radius: 2px; /* 둥근 모서리 */
    transition: all 0.3s ease-in-out;
    opacity: 1; /* 기본 불투명 상태 */
}

/* hover 효과 */
.hamburger:hover .bar {
    background-color: #000000;
    transform: scale(1.1);
}

/* 드롭다운 메뉴 */
.dropdown-menu {
    display: none; /* 기본적으로 숨김 */
    position: absolute;
    top: 90px; /* 네비게이션 바 아래 */
    right: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
}

.dropdown-menu.show {
    display: block; /* 햄버거 클릭 시 표시 */
}

/* 반응형 설정 */
@media (max-width: 930px) {
    .nav-bar {
        display: none; /* 작은 화면에서는 숨김 */
    }

    .hamburger {
        display: flex; /* 작은 화면에서 햄버거 버튼 표시 */
    }

    .nav-right {
        margin-left: auto;
    }
}

/* Hero Section */
.slider {
    position: relative;
    width: 100%;
    height: 50vh; /* 화면의 절반 높이 */
    overflow: hidden;
}

.hero-section {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    background-color: #b6bcbc;
}

.hero-section img {
    max-width: 100%;
    height: auto;
}  

.hero-left {
    flex: 1;
    background-color: #b6bcbc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b6bcbc;
    border: none;
}

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 영역을 꽉 채우도록 설정 */
}

.hero-content {
    text-align: center;
    max-width: 600px;
    background-color: #b6bcbc;
}

.hero-content .header-text {
    font-size: 2.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.5;
}

.hero-content .sub-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: black;
}
  

/* Footer */
footer {
    background-color: #ffffff;
    color: #000000;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

/* modal */
/* Modal Styles */
.modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #ffffff;
    color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-header .btn-close {
    background-color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    line-height: 0;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-close:focus{
    outline: none;
    box-shadow: none;
}

.modal-body {
    padding: 20px;
}

.modal-body label {
    color: #000000;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.modal-body input {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    width: 100%;
}

.modal-body button {
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ddd;
}

.modal-body button:hover {
    background-color: #0056b3;
}

/* 메인 콘텐츠 */
.main-content {
    margin-top: 20px; /* 슬라이더와 공지 섹션 간격 조정 */
    padding-bottom: 20px; /* 푸터와 공지 섹션 간격 추가 */
    flex-grow: 1;
}

/* 왼쪽 이미지 섹션 */
.left-image {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-image img {
    max-width: 100%;
    border-radius: 8px;
}

/* 공지사항 및 HOT 게시물 */
.notice-section, .hot-section {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notice-section h3, .hot-section h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
    font-weight: bold;
}

.notice-list, .hot-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notice-list li, .hot-list li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.notice-list li:last-child, .hot-list li:last-child {
    border-bottom: none;
}

.notice-list li a, .hot-list li a {
    text-decoration: none;
    font-size: 1rem;
    color: #007bff;
    transition: color 0.3s;
}

.notice-list li a:hover, .hot-list li a:hover {
    color: #0056b3;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .main-content .row {
        flex-direction: column;
    }

    .left-image {
        margin-bottom: 20px;
    }
}

