<header class="Header">
    <nav class="nav">
		<a href="/"><img src="/img/1866_file01/211. 메인 캐릭터_우왕이.png" alt="logo" class="logo"></a>
        <ul class="nav-bar">
            <li><a href="/competitions">공모전</a></li>
            <li><a href="/recruit/list">인원 모집</a></li>
            <li><a href="/techInfo">IT 뉴스</a></li>
            <li><a href="/question/list">자유</a></li>
        </ul>
        <div class="nav-right">
            <div class="search-button"><p>검색</p><span><i class="fa-solid fa-magnifying-glass"></i></span></div>
            <div class="login-button" id="loginButton" data-bs-toggle="modal" data-bs-target="#loginModal">
                <p>로그인</p>
            </div>
        </div>
    </nav>
</header>

